header {
    background-color: aqua;
}

body {
    background-color: #212529;
}


h4 {
    text-align: center;
}

div {
    color: grey;
}

.curCty {
    background-color: #212529;
    
}

input, textarea{
    background-color:#666;
    color: #FFF;
}

.form-control {
    color: grey;
}

input[type="search"]:focus {
    color: rgb(136, 137, 151);
}

.ctyBtn {
    color: #666;
}